@import '../../style/variables';

.resume{

  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }


  &__item{

    ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 320px;
    }

    ul li{
      padding-left: 15px;
      margin-right: 15px;
      margin-bottom: 5px;
      position: relative;

      &:before{
        content: "";
        position: absolute;
        top: 50%;
        left: 3px;
        display: flex;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: black;
        transform: translateY(-50%);
      }
    }
  }
}