@import '../../style/variables';

.about{
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: 25px auto;
  }

  &__desc{
    text-align: center;
  }

  @media ($mobile) {
    img{
      width: 160px;
      height: 160px;
    }
  }
}